In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sys
import os

In [14]:
df_train = pd.read_parquet('./train_data.parquet', engine='pyarrow')

In [16]:
df_train

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,2023-11-02 22:22:00.042,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,28.0,0.0,0.0,337.0,0.0,0.0
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,2023-11-01 23:51:24.999,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,87.0,0.0,0.0,1010.0,2.0,0.0019801980198019
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,2023-11-01 00:30:59.797,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,23.0,0.0,0.0,1010.0,2.0,0.0019801980198019
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,2023-11-02 22:21:32.261,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,277.0,1.0,0.003610108303249,337.0,0.0,0.0
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,2023-11-02 22:21:34.799,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,359.0,0.0,0.0,337.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770159,1896641_87731_16-23_2023-11-02 08:14:21.524,1896641,87731,2023-11-02 08:14:21.524,2023-11-02,0,None,None,None,None,...,0.0021005417064525,0.0404038812929242,0.0,None,90.0,1.0,0.0111111111111111,282.0,1.0,0.0035460992907801
770160,1896641_505604_16-23_2023-11-02 08:14:24.458,1896641,505604,2023-11-02 08:14:24.458,2023-11-02,0,None,None,None,None,...,-0.0005843979733278,0.0506497784165768,0.0,None,33.0,0.0,0.0,58.0,1.0,0.0172413793103448
770161,1896641_25212_16-23_2023-11-02 08:14:25.748,1896641,25212,2023-11-02 08:14:25.748,2023-11-02,0,None,None,None,None,...,0.0003542232402053,0.0498707994939233,0.0,None,33.0,0.0,0.0,58.0,1.0,0.0172413793103448
770162,1900765_95157_16-23_2023-11-02 06:08:25.900,1900765,95157,2023-11-02 06:08:25.900,2023-11-02,0,None,None,None,None,...,None,None,0.0,None,None,None,None,None,None,None
770163,1901215_95807_16-23_2023-11-01 11:01:33.086,1901215,95807,2023-11-01 11:01:33.086,2023-11-01,0,None,None,None,None,...,0.0019765467059986,0.0484378523042536,0.0,None,None,None,None,None,None,None

In [ ]:
df_train['missing_count'] = df_train.apply(lambda row: row.isnull().sum(), axis=1)
df_train['missing_count']

0         153
1         156
2         158
3         153
4         153
         ...
770159     73
770160     73
770161     89
770162    148
770163     99
Name: missing_count, Length: 770164, dtype: int64

In [ ]:
df_train['missing_count']

0         153
1         156
2         158
3         153
4         153
         ...
770159     73
770160     73
770161     89
770162    148
770163     99
Name: missing_count, Length: 770164, dtype: int64

In [ ]:
l = []
for x in df_train['missing_count']:
    l.append(x)
l = np.array(l)
print(l)
l.sort()
print(l, len(l))
ninety_percentile = np.percentile(l, 90)
ninety_percentile

[153 156 158 ...  89 148  99]
[ 29  36  37 ... 272 272 272] 770164

np.float64(124.0)

In [ ]:
new_df = df_train[df_train['missing_count'] >= ninety_percentile]
new_df

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f358,f359,f360,f361,f362,f363,f364,f365,f366,missing_count
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,2023-11-02 22:22:00.042,2023-11-02,0,1.0,None,None,None,...,-9999.0,0.0,None,28.0,0.0,0.0,337.0,0.0,0.0,153
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,2023-11-01 23:51:24.999,2023-11-01,0,1.0,None,None,None,...,None,0.0,None,87.0,0.0,0.0,1010.0,2.0,0.0019801980198019,156
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,2023-11-01 00:30:59.797,2023-11-01,0,1.0,None,None,None,...,None,0.0,None,23.0,0.0,0.0,1010.0,2.0,0.0019801980198019,158
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,2023-11-02 22:21:32.261,2023-11-02,0,1.0,None,None,None,...,-9999.0,0.0,None,277.0,1.0,0.003610108303249,337.0,0.0,0.0,153
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,2023-11-02 22:21:34.799,2023-11-02,0,1.0,None,None,None,...,-9999.0,0.0,None,359.0,0.0,0.0,337.0,0.0,0.0,153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769919,1854126_117520_16-23_2023-11-01 13:07:53.663,1854126,117520,2023-11-01 13:07:53.663,2023-11-01,0,None,None,None,None,...,None,0.0,None,None,None,None,None,None,None,141
769920,1854126_84457_16-23_2023-11-03 07:27:20.358,1854126,84457,2023-11-03 07:27:20.358,2023-11-03,0,None,None,None,None,...,None,0.0,None,None,None,None,None,None,None,137
769922,1854126_73319_16-23_2023-11-01 13:07:52.935,1854126,73319,2023-11-01 13:07:52.935,2023-11-01,0,None,None,None,None,...,0.0519204851752021,0.0,None,1.0,0.0,0.0,None,None,None,124
770149,1890991_78053_16-23_2023-11-02 15:30:15.832,1890991,78053,2023-11-02 15:30:15.832,2023-11-02,0,None,None,None,None,...,None,0.0,None,13.0,0.0,0.0,71.0,0.0,0.0,124
770162,1900765_95157_16-23_2023-11-02 06:08:25.900,1900765,95157,2023-11-02 06:08:25.900,2023-11-02,0,None,None,None,None,...,None,0.0,None,None,None,None,None,None,None,148

In [ ]:
f_columns = [f'f{i}' for i in range(1, 367)]
# Row-wise median (ignoring NaN or None)
new_df[f_columns] = new_df[f_columns].apply(pd.to_numeric, errors='coerce')
new_df[f_columns] = new_df[f_columns].apply(lambda row: row.fillna(row.median()), axis=1)
new_df

C:\Users\Pranav Gupta\AppData\Local\Temp\ipykernel_16956\301174339.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[f_columns] = new_df[f_columns].apply(pd.to_numeric, errors='coerce')
C:\Users\Pranav Gupta\AppData\Local\Temp\ipykernel_16956\301174339.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[f_columns] = new_df[f_columns].apply(lambda row: row.fillna(row.median()), axis=1)

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f358,f359,f360,f361,f362,f363,f364,f365,f366,missing_count
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,2023-11-02 22:22:00.042,2023-11-02,0,1.0,0.0,0.0,0.0,...,-9999.00000,0.0,0.0,28.0,0.0,0.00000,337.0,0.0,0.00000,153
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,2023-11-01 23:51:24.999,2023-11-01,0,1.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,87.0,0.0,0.00000,1010.0,2.0,0.00198,156
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,2023-11-01 00:30:59.797,2023-11-01,0,1.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,23.0,0.0,0.00000,1010.0,2.0,0.00198,158
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,2023-11-02 22:21:32.261,2023-11-02,0,1.0,0.0,0.0,0.0,...,-9999.00000,0.0,0.0,277.0,1.0,0.00361,337.0,0.0,0.00000,153
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,2023-11-02 22:21:34.799,2023-11-02,0,1.0,0.0,0.0,0.0,...,-9999.00000,0.0,0.0,359.0,0.0,0.00000,337.0,0.0,0.00000,153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769919,1854126_117520_16-23_2023-11-01 13:07:53.663,1854126,117520,2023-11-01 13:07:53.663,2023-11-01,0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.00000,141
769920,1854126_84457_16-23_2023-11-03 07:27:20.358,1854126,84457,2023-11-03 07:27:20.358,2023-11-03,0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.00000,137
769922,1854126_73319_16-23_2023-11-01 13:07:52.935,1854126,73319,2023-11-01 13:07:52.935,2023-11-01,0,0.0,0.0,0.0,0.0,...,0.05192,0.0,0.0,1.0,0.0,0.00000,0.0,0.0,0.00000,124
770149,1890991_78053_16-23_2023-11-02 15:30:15.832,1890991,78053,2023-11-02 15:30:15.832,2023-11-02,0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,13.0,0.0,0.00000,71.0,0.0,0.00000,124
770162,1900765_95157_16-23_2023-11-02 06:08:25.900,1900765,95157,2023-11-02 06:08:25.900,2023-11-02,0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.00000,148

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_df = new_df[f_columns].apply(lambda row: scaler.fit_transform(row.values.reshape(-1, 1)).flatten(), axis=1, result_type='expand')
scaled_df.columns = new_df[f_columns].columns 
scaled_df

In [ ]:
y = new_df['y']
y = np.array(y)
x = np.array(scaled_df)
x.shape, y.shape

((78217, 366), (78217,))

In [ ]:
y = [0 if i == '0' else 1 for i in y]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

# Evaluation on Train Dataset

In [70]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(x_train, y_train)
y_pred = xgb_model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score
print(f"Accuracy: ", accuracy_score(y_test, y_pred))
print(f"Confusion Matrix: ", confusion_matrix(y_test, y_pred))
print(f"Precision Score: ", precision_score(y_test, y_pred))
print("Classification Report:", classification_report(y_test, y_pred))

Accuracy:  0.9695303843859201
Confusion Matrix:  [[22314    60]
 [  655   437]]
MAP:  0.8792756539235412
Classification Report:               precision    recall  f1-score   support

           0       0.97      1.00      0.98     22374
           1       0.88      0.40      0.55      1092

    accuracy                           0.97     23466
   macro avg       0.93      0.70      0.77     23466
weighted avg       0.97      0.97      0.96     23466

# Evaluation of Trained Model on Test Dataset

In [75]:
df_test = pd.read_parquet('./test_data (1).parquet', engine='pyarrow')
df_test

,id1,id2,id3,id4,id5,f1,f2,f3,f4,f5,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
46756,1362907_91950_16-23_2023-11-04 18:56:26.000794,1362907,91950,2023-11-04 18:56:26.000794,2023-11-04,None,None,None,None,None,...,0.0027807272790246,0.0465999838670646,0.0,None,1.0,0.0,0.0,56.0,0.0,0.0
57819,1082599_88356_16-23_2023-11-04 06:08:53.373,1082599,88356,2023-11-04 06:08:53.373,2023-11-04,None,9.0,None,None,None,...,0.0014287946777398,0.0603093514970909,0.0,None,195.0,13.0,0.0666666666666666,None,None,None
15390,1888466_958700_16-23_2023-11-05 10:07:28.000725,1888466,958700,2023-11-05 10:07:28.000725,2023-11-05,None,None,None,None,22.0,...,-0.0174961119751166,0.0734836702954899,0.0,None,155.0,67.0,0.432258064516129,1142.0,436.0,0.3817863397548161
145730,1888971_795739_16-23_2023-11-04 12:25:28.244,1888971,795739,2023-11-04 12:25:28.244,2023-11-04,None,None,None,None,None,...,0.0013159476327096,0.040572039549215,0.0,None,None,None,None,None,None,None
146085,1256369_82296_16-23_2023-11-05 06:45:26.657,1256369,82296,2023-11-05 06:45:26.657,2023-11-05,None,None,None,None,None,...,0.0020541699799278,0.038243539079214,0.0,None,29.0,2.0,0.0689655172413793,361.0,3.0,0.0083102493074792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806,1874443_95537_16-23_2023-11-05 09:21:24.182,1874443,95537,2023-11-05 09:21:24.182,2023-11-05,None,None,None,None,None,...,0.0011444262884863,0.0451847712288842,0.0,None,5.0,0.0,0.0,144.0,8.0,0.0555555555555555
127494,1541978_5718_16-23_2023-11-05 00:56:43.946,1541978,5718,2023-11-05 00:56:43.946,2023-11-05,23.0,None,1.0,None,10.0,...,0.0010418624094475,0.0552689756816507,0.0,None,18.0,0.0,0.0,216.0,8.0,0.037037037037037
106947,1887841_85905_16-23_2023-11-05 20:40:43.312,1887841,85905,2023-11-05 20:40:43.312,2023-11-05,None,None,None,None,None,...,-0.0158489476154373,0.0792447380771868,0.0,None,41.0,1.0,0.024390243902439,569.0,1.0,0.0017574692442882
158372,1569367_944713_16-23_2023-11-05 00:43:04.335,1569367,944713,2023-11-05 00:43:04.335,2023-11-05,None,None,None,None,None,...,0.0019767025731701,0.0457251973961485,0.0,None,173.0,18.0,0.1040462427745664,81.0,12.0,0.1481481481481481
74378,1086547_60142_16-23_2023-11-05 10:37:36.747,1086547,60142,2023-11-05 10:37:36.747,2023-11-05,None,28.0,None,None,43.0,...,-0.0213071318171781,0.0894899536321483,0.0,None,1.0,0.0,0.0,None,None,None

In [78]:
f_columns = [f'f{i}' for i in range(1, 367)]
# Row-wise median (ignoring NaN or None)
df_test[f_columns] = df_test[f_columns].apply(pd.to_numeric, errors='coerce')
df_test[f_columns] = df_test[f_columns].apply(lambda row: row.fillna(row.median()), axis=1)
df_test

,id1,id2,id3,id4,id5,f1,f2,f3,f4,f5,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
46756,1362907_91950_16-23_2023-11-04 18:56:26.000794,1362907,91950,2023-11-04 18:56:26.000794,2023-11-04,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002781,0.046600,0.0,0.000000,1.0,0.0,0.000000,56.000000,0.000000,0.000000
57819,1082599_88356_16-23_2023-11-04 06:08:53.373,1082599,88356,2023-11-04 06:08:53.373,2023-11-04,0.041065,9.000000,0.041065,0.041065,0.041065,...,0.001429,0.060309,0.0,0.041065,195.0,13.0,0.066667,0.041065,0.041065,0.041065
15390,1888466_958700_16-23_2023-11-05 10:07:28.000725,1888466,958700,2023-11-05 10:07:28.000725,2023-11-05,0.017668,0.017668,0.017668,0.017668,22.000000,...,-0.017496,0.073484,0.0,0.017668,155.0,67.0,0.432258,1142.000000,436.000000,0.381786
145730,1888971_795739_16-23_2023-11-04 12:25:28.244,1888971,795739,2023-11-04 12:25:28.244,2023-11-04,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001316,0.040572,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
146085,1256369_82296_16-23_2023-11-05 06:45:26.657,1256369,82296,2023-11-05 06:45:26.657,2023-11-05,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002054,0.038244,0.0,0.000000,29.0,2.0,0.068966,361.000000,3.000000,0.008310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806,1874443_95537_16-23_2023-11-05 09:21:24.182,1874443,95537,2023-11-05 09:21:24.182,2023-11-05,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001144,0.045185,0.0,0.000000,5.0,0.0,0.000000,144.000000,8.000000,0.055556
127494,1541978_5718_16-23_2023-11-05 00:56:43.946,1541978,5718,2023-11-05 00:56:43.946,2023-11-05,23.000000,0.000521,1.000000,0.000521,10.000000,...,0.001042,0.055269,0.0,0.000521,18.0,0.0,0.000000,216.000000,8.000000,0.037037
106947,1887841_85905_16-23_2023-11-05 20:40:43.312,1887841,85905,2023-11-05 20:40:43.312,2023-11-05,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.015849,0.079245,0.0,0.000000,41.0,1.0,0.024390,569.000000,1.000000,0.001757
158372,1569367_944713_16-23_2023-11-05 00:43:04.335,1569367,944713,2023-11-05 00:43:04.335,2023-11-05,0.041199,0.041199,0.041199,0.041199,0.041199,...,0.001977,0.045725,0.0,0.041199,173.0,18.0,0.104046,81.000000,12.000000,0.148148
74378,1086547_60142_16-23_2023-11-05 10:37:36.747,1086547,60142,2023-11-05 10:37:36.747,2023-11-05,0.000000,28.000000,0.000000,0.000000,43.000000,...,-0.021307,0.089490,0.0,0.000000,1.0,0.0,0.000000,0.000000,0.000000,0.000000

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_df = df_test[f_columns].apply(lambda row: scaler.fit_transform(row.values.reshape(-1, 1)).flatten(), axis=1, result_type='expand')
scaled_df.columns = df_test[f_columns].columns
scaled_df

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
46756,-0.107529,-0.107529,-0.107529,-0.107529,-0.107529,-0.107525,-0.107521,-0.107503,-0.107495,-0.107529,...,-0.107529,-0.107529,-0.107529,-0.107529,-0.107529,-0.107529,-0.107529,-0.107485,-0.107529,-0.107529
57819,-0.096630,-0.096622,-0.096630,-0.096630,-0.096630,-0.096630,-0.096630,-0.096630,-0.096626,-0.096630,...,-0.096630,-0.096630,-0.096630,-0.096630,-0.096453,-0.096618,-0.096630,-0.096630,-0.096630,-0.096630
15390,-0.083337,-0.083337,-0.083337,-0.083337,-0.083317,-0.083332,-0.083327,-0.083337,-0.083337,-0.083331,...,-0.083337,-0.083337,-0.083337,-0.083337,-0.083199,-0.083277,-0.083336,-0.082325,-0.082950,-0.083336
145730,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,...,-0.130265,-0.130261,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265,-0.130265
146085,-0.066033,-0.066033,-0.066033,-0.066033,-0.066033,-0.066033,-0.066033,-0.066033,-0.066033,-0.066033,...,-0.066033,-0.066033,-0.066033,-0.066033,-0.065929,-0.066026,-0.066032,-0.064742,-0.066022,-0.066033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1806,-0.075089,-0.075089,-0.075089,-0.075089,-0.075089,-0.075089,-0.075089,-0.075089,-0.075089,-0.075089,...,-0.075089,-0.075089,-0.075089,-0.075089,-0.075084,-0.075089,-0.075089,-0.074943,-0.075081,-0.075089
127494,-0.106723,-0.106743,-0.106742,-0.106743,-0.106734,-0.106712,-0.106728,-0.106705,-0.106741,-0.106742,...,-0.106743,-0.106743,-0.106743,-0.106743,-0.106727,-0.106743,-0.106743,-0.106554,-0.106736,-0.106743
106947,-0.087047,-0.087047,-0.087047,-0.087047,-0.087047,-0.087043,-0.087047,-0.087027,-0.087047,-0.087034,...,-0.087047,-0.087047,-0.087047,-0.087047,-0.087011,-0.087046,-0.087047,-0.086548,-0.087046,-0.087047
158372,-0.098815,-0.098815,-0.098815,-0.098815,-0.098815,-0.098798,-0.098815,-0.098815,-0.098779,-0.098791,...,-0.098815,-0.098815,-0.098815,-0.098815,-0.098654,-0.098798,-0.098815,-0.098740,-0.098804,-0.098815
74378,-0.077159,-0.077123,-0.077159,-0.077159,-0.077104,-0.077118,-0.077134,-0.077151,-0.077159,-0.077149,...,-0.077159,-0.077159,-0.077159,-0.077159,-0.077158,-0.077159,-0.077159,-0.077159,-0.077159,-0.077159

In [83]:
x_test = np.array(scaled_df)
y_pred = xgb_model.predict(x_test)

In [86]:
(y_pred == 1).sum(), (y_pred == 0).sum()

(np.int64(1030), np.int64(368271))

In [89]:
df_submission = pd.read_csv('685404e30cfdb_submission_template.csv')
df_submission['pred'] = y_pred
df_submission

,id1,id2,id3,id5,pred
0,1000061_31794_16-23_2023-11-05 09:47:54.852,1000061,31794,11/5/2023,0
1,1000061_16099_16-23_2023-11-05 09:28:11.514,1000061,16099,11/5/2023,0
2,1000061_72292_16-23_2023-11-05 09:28:07.697,1000061,72292,11/5/2023,0
3,1000061_27945_16-23_2023-11-05 09:28:04.157,1000061,27945,11/5/2023,0
4,1000061_944713_16-23_2023-11-05 09:28:12.529,1000061,944713,11/5/2023,0
...,...,...,...,...,...
369296,1910523_65699008_16-23_2023-11-05 06:26:41.492,1910523,65699008,11/5/2023,0
369297,1910523_57342_16-23_2023-11-04 08:24:17.804,1910523,57342,11/4/2023,0
369298,1910523_65430_16-23_2023-11-04 08:24:17.803,1910523,65430,11/4/2023,0
369299,1910523_735023_16-23_2023-11-05 06:26:42.053,1910523,735023,11/5/2023,0
369300,1910565_55247_16-23_2023-11-04 15:57:55.266,1910565,55247,11/4/2023,0

In [90]:
df_submission.to_csv('submission.csv', index=False)

# Other Datasets

In [87]:
df_trans = pd.read_parquet('./add_trans.parquet', engine='pyarrow')
df_trans

             id2   f367 f368 f369        f370      f371    f372       id8 f374
0        2896709  15.60  PBR    D  2023-10-16  19:16:52  202310  59639998  DSE
1        2855047   6.40   PR    D  2023-10-14  13:01:16  202310  59639998  DSE
2        2497175  13.99  PBR    D  2023-10-14  00:31:48  202310  59639998  DSE
3        2655364  15.14  PGC    D  2023-10-13  12:37:25  202310  59639998  DSE
4        2855047   2.12   PR    D  2023-10-09  16:51:21  202310  59639998  DSE
...          ...    ...  ...  ...         ...       ...     ...       ...  ...
6339460  2429805  13.15  PGR    D  2023-10-29  00:00:00  202310  59430301   SS
6339461  2429805  12.92  PGR    D  2023-10-31  00:00:00  202310  59430301   SS
6339462  2429805  16.14  PGR    D  2023-10-30  00:00:00  202310  59430301   SS
6339463  2868977  14.52   PR    D  2023-10-16  00:00:00  202310  59430301   SS
6339464  2114053  88.86  PGC    D  2023-10-31  00:00:00  202310  59430301   SS

[6339465 rows x 9 columns]